
body {
    padding-top: 51px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font: 400 16px/1.5 'Open Sans', sans-serif;
    color: #000;
}
a {
    transition: .4s all;
}
.navbar-inverse {
    background-color: #fff;
}
.main_banner {
    width: 100%;
    float: left;
}
.banner_section_home {
    background: #5b6471 url(../images/main_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 300px;
    position: relative;
    float: left;
    width: 100%;
}
.banner_section_home .banner_section_inner {
    height: 100%;
    text-align: center;
    white-space: nowrap;
}
.banner_section_home .banner_section_inner: before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}
.home_banner_content {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    padding: 0 5%;
    color: #fff;
}
.banner_section_home .banner_section_inner h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.05;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
}
.banner_section_home .banner_section_inner h5 {
    font-size: 21px;
    color: #ff0000;
    font-weight: 300;
}
.send_btn {
    background-color: #96855a;
    padding: 6px 24px;
    float: left;
    font-weight: 400;
    font-size: 18px;
    border-style: none;
    transition: all .4s;
}
.tab-pane {
    padding-top: 50px;
    padding-bottom: 20px;
}
footer {
    margin: 20px 0;
}
